# Python Data Manipulation Tools

 Author: Rashidat Sikiru

Pandas is an open-source python library for highly specialized data analysis. It is a perfect tool for anyone
who wants to perform data analysis using python as a programming language.
In this article, I will be taking us through the pandas techniques for data manipulation. There are several data manipulation tools, but this article will we be discussing five powerful pandas data manipulation tools. These are:

1.&nbsp;Merging
2.&nbsp;Mapping
3. Removing Duplicates
4.&nbsp;Binning
5. Sorting

## 1. Merging

Merging also referred to as joining consists of a combination of data frames through the connection of rows using one or more
keys. It can be likened to the “JOIN” operation for those who are familiar with the Structured Query Language(SQL) and merge() is the function to perform this kind of operation.

Let’s import the pandas library and define two data frames that will serve as examples for this section:

In [1]:
# import pandas and numpy
import numpy as np
import pandas as pd

# define the first dataframe
data1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'],
                      'price': [12.33,11.44,33.21,13.23,33.62]})
data1

        id  price
0     ball  12.33
1   pencil  11.44
2      pen  33.21
3      mug  13.23
4  ashtray  33.62

In [2]:
# define the second dataframe
data2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'], 'color': ['white','red','red','black']})
data2

       id  color
0  pencil  white
1  pencil    red
2    ball    red
3     pen  black

Now we can carry out merging by applying the merge() function to the two data frame objects.

In [3]:
pd.merge(data1,data2)

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  black

We can see from the result, the returned data frame consists of all rows that have an ID in common. In addition to the common column, the columns from the first and the second data frame are added. In this case, we used the merge() function without specifying any column explicitly.

However, we will come across cases where we need to decide which column on which to base the merging. To do this, we need to add the ON option with the column name as the key for the merging.

Let's do this by adding another column named "brand" to the two  data frames so that we can have two similar columns on each data frame

In [4]:
data1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'],  
                      'color':  ['white','red','red','black','green'], 
                      'brand': ['OMG','ABC','ABC','POD','POD']})
data1

        id  color brand
0     ball  white   OMG
1   pencil    red   ABC
2      pen    red   ABC
3      mug  black   POD
4  ashtray  green   POD

In [5]:
data2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'],
                     'brand': ['OMG','POD','ABC','POD']})
data2

       id brand
0  pencil   OMG
1  pencil   POD
2    ball   ABC
3     pen   POD


Now that we have two data frames having columns with the same name, let us use our merge() function

In [6]:
pd.merge(data1,data2)

Empty DataFrame
Columns: [id, color, brand]
Index: []

We can see that our code returns an empty data frame because it does not know which of the columns it should carry out the merging.

So let's try to explicitly define the criteria for merging by specifying the name of the key column in the ON option.

In [7]:
# merging using id
pd.merge(data1,data2,on='id')

       id  color brand_x brand_y
0    ball  white     OMG     ABC
1  pencil    red     ABC     OMG
2  pencil    red     ABC     POD
3     pen    red     ABC     POD

In [8]:
# merging using color
pd.merge(data1, data2, on="brand")

      id_x  color brand    id_y
0     ball  white   OMG  pencil
1   pencil    red   ABC    ball
2      pen    red   ABC    ball
3      mug  black   POD  pencil
4      mug  black   POD     pen
5  ashtray  green   POD  pencil
6  ashtray  green   POD     pen

As expected, the results above vary considerably depending on the criteria of merging.

How about a situation where the key columns in the two data frames do not have the same name? What do we do?

To remedy this situation, we have to use the LEFT_ON and RIGHT_ON options, which specify the key column for the first and for the second data frame. Let’s see an example.

First, Let us change our "id" column of our second data frame to "sid".

In [9]:
# changing id to sid
data2 = data2.rename(columns ={'id':'sid'})
data2

      sid brand
0  pencil   OMG
1  pencil   POD
2    ball   ABC
3     pen   POD

Now let's merge by using LEFT_ON and RIGHT_ON options.

In [10]:
pd.merge(data1, data2, left_on='id', right_on='sid')

       id  color brand_x     sid brand_y
0    ball  white     OMG    ball     ABC
1  pencil    red     ABC  pencil     OMG
2  pencil    red     ABC  pencil     POD
3     pen    red     ABC     pen     POD

By default, the merge() function performs an inner join; the keys in the result are the result of an intersection.

Other possible options are the left join, the right join, and the outer join. The outer join produces the union of all keys, combining the effect of a left join with a right join. To select the type of join you have to use the HOW option.
Let's do that with examples

Lets rename our "id" column back to its original name.

In [11]:
# changing id to sid
data2 = data2.rename(columns ={'sid':'id'})
data2

       id brand
0  pencil   OMG
1  pencil   POD
2    ball   ABC
3     pen   POD

In [12]:
# performing the outer merging
pd.merge(data1,data2,on='id',how='outer')

        id  color brand_x brand_y
0     ball  white     OMG     ABC
1   pencil    red     ABC     OMG
2   pencil    red     ABC     POD
3      pen    red     ABC     POD
4      mug  black     POD     NaN
5  ashtray  green     POD     NaN

In [13]:
# performing the left merging
pd.merge(data1,data2,on='id',how='left')

        id  color brand_x brand_y
0     ball  white     OMG     ABC
1   pencil    red     ABC     OMG
2   pencil    red     ABC     POD
3      pen    red     ABC     POD
4      mug  black     POD     NaN
5  ashtray  green     POD     NaN

In [14]:
# performing right merging
pd.merge(data1,data2,on='id',how='right')

       id  color brand_x brand_y
0  pencil    red     ABC     OMG
1  pencil    red     ABC     POD
2    ball  white     OMG     ABC
3     pen    red     ABC     POD

In [15]:
# performing inner merging which is the default merging
# the inner phrase may or may not be included
pd.merge(data1,data2,on='id',how='inner')

       id  color brand_x brand_y
0    ball  white     OMG     ABC
1  pencil    red     ABC     OMG
2  pencil    red     ABC     POD
3     pen    red     ABC     POD

we may also merge on  multiple columns, you simply add a list to the ON option.

In [16]:
pd.merge(data1,data2,on=['id','brand'],how='outer')

        id  color brand
0     ball  white   OMG
1   pencil    red   ABC
2      pen    red   ABC
3      mug  black   POD
4  ashtray  green   POD
5   pencil    NaN   OMG
6   pencil    NaN   POD
7     ball    NaN   ABC
8      pen    NaN   POD

## 2. Mapping

Mapping is nothing more than the creation of a list of matches between two different values, with the ability to bind a value to a particular label or string. To define mapping there is no better object than dictionary objects.

map = {'label1' : 'value1, 'label2': 'value2,}

The functions that are used for mapping perform specific operations, and they all accept a dictionary object.  These are

• replace(): The replace () is used to replaces values
• map(): This is&nbsp; used to creates new column
• rename(): This replaces the index values

### a. Replacing Values via Mapping

Data structure values may sometimes not meet the specific requirement or may contain the wrong value.&nbsp;  In such cases, a replacement operation of various values using the replace() function is often a necessary process.

For example, lets us define a data frame containing various colors and object and we try replacing them

In [17]:
# first we create  data frame
items = pd.DataFrame({ 'item':['ball','mug','pen','pencil','ashtray'],
                 'color':['white','rosso','verde','black','yellow'],})
items

      item   color
0     ball   white
1      mug   rosso
2      pen   verde
3   pencil   black
4  ashtray  yellow

To be able to replace the incorrect values with new values, it is necessary to define a mapping of correspondences, containing as a key the new values.

In [18]:
# create a new napping
newcolors ={'rosso': 'red',
            'verde': 'green'}

Now the next thing is use the replace() function with the mapping as an argument.

In [19]:
items.replace(newcolors)

      item   color
0     ball   white
1      mug     red
2      pen   green
3   pencil   black
4  ashtray  yellow

From our result we can see that we have successfully replaced rosso with red and verde with green.

### b.  Adding Values via Mapping

In this case, we are exploiting mapping to add values in a column depending on the values contained in another. The mapping will always be defined separately. The map() function applied to a series or to a column of a data frame accepts a function or an object containing a dictionary with
mapping. Let's see an example using the previous data frame by adding a price column to the data frame

In [20]:
items

      item   color
0     ball   white
1      mug   rosso
2      pen   verde
3   pencil   black
4  ashtray  yellow

lets create the price column we want to map

In [21]:
# creating the prices column
prices = {'ball' : 5.56, 'mug' : 4.20,'pen' : 1.30, 'pencil' : 0.56, 'ashtray' : 2.75}

In [22]:
# lets map our price to our dataframe
items['price'] = items['item'].map(prices)
items

      item   color  price
0     ball   white   5.56
1      mug   rosso   4.20
2      pen   verde   1.30
3   pencil   black   0.56
4  ashtray  yellow   2.75

### c. Rename the Indexes of the Axes

In a manner very similar to what we did for the values contained within the data frame, even the axis label can be transformed in a very similar way using the mapping. So to replace the label indexes, pandas provides the rename() function, which takes the mapping as an argument.

Lets see an example where we will replace the index of our previous data frame

In [23]:
items

      item   color  price
0     ball   white   5.56
1      mug   rosso   4.20
2      pen   verde   1.30
3   pencil   black   0.56
4  ashtray  yellow   2.75

In [24]:
# create a mapping value to change the row index value
reindex = {0: 'first',
            1: 'seconnd',
            2: 'third',
             3: 'fourth',
             4: 'fifth'}

In [25]:
# now lets use the rename()to change our axis name
items.rename(reindex)

            item   color  price
first       ball   white   5.56
seconnd      mug   rosso   4.20
third        pen   verde   1.30
fourth    pencil   black   0.56
fifth    ashtray  yellow   2.75

As you can see, by default, the indexes are renamed. If you want to rename columns you must use the columns option.

In [26]:
# creating a mapping for the colums
recolumn = {'item':'object', 'price': 'value'}

In [27]:
# now lets apply our changes to both index and column
items.rename(index=reindex, columns=recolumn)

          object   color  value
first       ball   white   5.56
seconnd      mug   rosso   4.20
third        pen   verde   1.30
fourth    pencil   black   0.56
fifth    ashtray  yellow   2.75

## 3. Removing Duplicates

In data frames of enormous size, the detection of duplicate rows can be very problematic. In pandas, however, there are a series of tools that can be used to analyze the duplicate data present in large data structures.

First, let’s create a simple data frame with some duplicate rows:

In [28]:
# creating a new dataframe
df =  pd.DataFrame({ 'color': ['white','white','red','red','white'], 'value': [2,1,3,3,2]})
df

   color  value
0  white      2
1  white      1
2    red      3
3    red      3
4  white      2

To detect duplicate rows in a data frame, we will apply the duplicated() function to the data frame. This will return a series of Booleans where each element corresponds to a row, with True if the row is duplicated (i.e., the other occurrences, not the first), and with False if there are no duplicates in
the previous elements.

Let’s apply the duplicated() function to the data frame we created earlier:

In [29]:
# checking for duplicates
df.duplicated()

0    False
1    False
2    False
3     True
4     True
dtype: bool

To know which are the duplicate rows, we will just type the following:&nbsp;

In [30]:
# checking rows with duplicates
df[df.duplicated()]

   color  value
3    red      3
4  white      2

Duplicated rows are to be deleted from the dataframe; this can be carried out by using&nbsp; the drop_duplicates() function provided by pandas which returns the dataframes without duplicate rows.

In [31]:
# delete duplicate rows
df.drop_duplicates()

   color  value
0  white      2
1  white      1
2    red      3

## 4. Binning

Also referred to as discretization is the process of transforming continuous numerical data into sets of discrete categories for further analysis. 
There are 2 ways to carry out binning in pandas

a. By using the cut() function 
b. By using the qcut() function

### a. using the cut() function

Depending on the distribution of the data sample, by using cut(), you will have a different number of occurrences for each bin.

For example, we may have a reading of an experimental value between0 and 100 collected in a list.

In [32]:
# An experiment result
results = [12,34,67,55,28,90,99,12,3,56,74,44,87,23,49,89,87]

We can uniformly divide this interval, for example, into four equal parts, i.e., bins. The first contains the values between 0 and 25, the second between 26 and 50, the third between 51 and 75, and the last between 76 and 100.
To do this binning with pandas, first we have to define an array containing the values of separation of bin

In [33]:
# value separation list
bins = [0,25,50,75,100]

Then we use a special function called cut() and apply it to the array of results also passing the bins.

In [34]:
cat = pd.cut(results, bins)
cat

[(0, 25], (25, 50], (50, 75], (50, 75], (25, 50], ..., (75, 100], (0, 25], (25, 50], (75, 100], (75, 100]]
Length: 17
Categories (4, interval[int64]): [(0, 25] < (25, 50] < (50, 75] < (75, 100]]

To know the occurrences for each bin, that is, how many results fall into each category, we use the value_counts() function

In [35]:
pd.value_counts(cat)

(75, 100]    5
(0, 25]      4
(25, 50]     4
(50, 75]     4
dtype: int64

If the cut() function is passed as an argument to an integer instead of explicating the bin edges, this will divide the range of values of the array in many intervals as specified by the number. For example:

In [36]:
pd.cut(results, 5)

[(2.904, 22.2], (22.2, 41.4], (60.6, 79.8], (41.4, 60.6], (22.2, 41.4], ..., (79.8, 99.0], (22.2, 41.4], (41.4, 60.6], (79.8, 99.0], (79.8, 99.0]]
Length: 17
Categories (5, interval[float64]): [(2.904, 22.2] < (22.2, 41.4] < (41.4, 60.6] < (60.6, 79.8] < (79.8, 99.0]]

### b. using the qcut() function

In addition to cut(), pandas provides another method for binning: qcut(). This function divides the sample directly into quintiles. The qcut() will ensure that the number of occurrences for each bin is equal, but the edges of each bin vary.

In [37]:
quintiles = pd.qcut(results, 5)
quintiles

[(2.999, 24.0], (24.0, 46.0], (62.6, 87.0], (46.0, 62.6], (24.0, 46.0], ..., (62.6, 87.0], (2.999, 24.0], (46.0, 62.6], (87.0, 99.0], (62.6, 87.0]]
Length: 17
Categories (5, interval[float64]): [(2.999, 24.0] < (24.0, 46.0] < (46.0, 62.6] < (62.6, 87.0] < (87.0, 99.0]]


we can determine the occurrences for each bin using the value_counts() function.

In [38]:
pd.value_counts(quintiles)

(2.999, 24.0]    4
(62.6, 87.0]     4
(24.0, 46.0]     3
(46.0, 62.6]     3
(87.0, 99.0]     3
dtype: int64

## 5. Sorting

Sorting is the process of putting the data into order. Sorting the data is often a necessity and it is very important to be able to do it easily. pandas provides the sort_ index() function, which returns a new object that’s identical to the start, but in which the elements are ordered.

### a. Sorting by index

Let’s start by seeing how you can sort items in a series.

In [39]:
# lets create a series of items
ser = pd.Series([5,0,3,8,4], index=['red','blue','yellow','white','green'])
ser

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

In [40]:
# lets apply sort_index() to sort the items
ser.sort_index()

blue      0
green     4
red       5
white     8
yellow    3
dtype: int64

We can see from the result above that the items were sorted in ascending alphabetical order based on their labels (from A to Z).
This is the default behavior, but you can set the opposite order by setting the ascending option to False

In [41]:
# sorting in descending order
ser.sort_index(ascending=False)

yellow    3
white     8
red       5
green     4
blue      0
dtype: int64

With the data frame, the sorting can be performed independently on each of its two axes. So if you want to order by row following the indexes, you just continue to use the sort_index() function without arguments as you’ve seen before, or if you prefer to order by columns, you need to set the axis options to 1.

In [42]:
# creating a new data frame
df = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])
df

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [43]:
# lets sort the row
df.sort_index()

        ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

In [44]:
# to sort the column we need to provide the axis label
df.sort_index(axis=1)

        ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14

### b. Sorting by values

We may sometimes need to sort the values contained in the data structure. In this case, we have to differentiate depending on whether we have to sort the values of a series or a dataframe.

To order the series, we need to use the sort_values() function. Let's sort the values of our previous data

In [45]:
# sorting a series of values
ser.sort_values()

blue      0
yellow    3
green     4
red       5
white     8
dtype: int64

For us  to order the values in a data frame, we will use the sort_values() function seen previously but with the "by" option. Then we have to specify the name of the column on which to sort.

In [46]:
# sorting a dataframe
df.sort_values(by='pen')

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

If the sorting criteria will be based on two or more columns, we can assign an array containing the names of the columns to the "by" option.

In [47]:
# sorting dataframe with two columns
df.sort_values(by=['pen','pencil'])

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5835449d-43ac-4e5e-a010-a26d5d3006dc' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>