<a href="https://colab.research.google.com/github/dammmie-beep/data-_insight_assignment/blob/main/Rashidat_Sikiru_Stage_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv("energydata_complete.csv",engine ="python",encoding='utf-8', error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
Skipping line 17276: unexpected end of data

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17274 entries, 0 to 17273
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         17274 non-null  object
 1   Appliances   17274 non-null  int64
 2   lights       17274 non-null  int64
 3   T1           17274 non-null  float64
 4   RH_1         17274 non-null  float64
 5   T2           17274 non-null  float64
 6   RH_2         17274 non-null  float64
 7   T3           17274 non-null  float64
 8   RH_3         17274 non-null  float64
 9   T4           17274 non-null  float64
 10  RH_4         17274 non-null  float64
 11  T5           17274 non-null  float64
 12  RH_5         17274 non-null  float64
 13  T6           17274 non-null  float64
 14  RH_6         17274 non-null  float64
 15  T7           17274 non-null  float64
 16  RH_7         17274 non-null  float64
 17  T8           17274 non-null  float64
 18  RH_8         17274 non-null  float64
 19  T9           17274 non-null  float64
 20  RH_9         17274 non-null  float64
 21  T_out        17274 non-null  float64
 22  Press_mm_hg  17274 non-null  float64
 23  RH_out       17274 non-null  float64
 24  Windspeed    17274 non-null  float64
 25  Visibility   17274 non-null  float64
 26  Tdewpoint    17274 non-null  float64
 27  rv1          17274 non-null  float64
 28  rv2          17274 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 3.8+ MB

In [20]:
x = df.T2
y = df.T6

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
# x = x.values.reshape(1,-1)

In [23]:
# y =y.values.reshape(1,-1)

In [24]:
model = LinearRegression()

In [32]:
# reg = model.fit(x,y)/

In [40]:
from sklearn.metrics import r2_score,mean_absolute_error

In [27]:
R2 = r2_score(x,y)

In [28]:
R2

-51.24421111862586

In [29]:
cols = ["date", "lights"]
X = df.drop(columns = cols, inplace = True)

In [33]:
X = df.drop("Appliances", axis =1)
y = df.Appliances

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [37]:
scaler = MinMaxScaler()
scaler.fit(X)

MinMaxScaler()

In [47]:
y.values.reshape(1,-1)

array([[60, 60, 50, ..., 60, 60, 50]])

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

In [53]:
reg2 = model.fit(X_train,y_train)

In [54]:
y_pred = model.predict(X_test)

In [56]:
MAE = mean_absolute_error(y_test,y_pred)
MAE

55.18284489522282

In [61]:
df2 = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
print(' residual sum of squares is : '+ str(np.sum(np.square(df2['Predicted'] - df2['Actual']))))

 residual sum of squares is : 48531169.33177467

In [63]:
RMSE =np.sqrt(MAE)
RMSE

7.428515658947138

In [65]:
coe =r2_score(y_test,y_pred)
coe

0.1386974013309461